h2{

    display: flex;
    justify-content: center;
    margin: 5rem;
    font-size: 5rem;
    font-weight: 100;

}

.principal-protagonistas{

    display: flex;

}


.principal-importantes{

    display: flex;
    flex-direction: column;

}


.importantes-rei{

    display: flex;

}

.importantes-hollow{

    display: flex;

}

.principal-sonhadores{

    display: flex;
    justify-content: center;

}


.principal-sonhadores p{

    margin: 1rem;

}

.principal-radiancia{

    display: flex;
    flex-direction: column;
    align-items: center;

}

body img, #map {
  max-width: 50%;
  display: block;
  margin: 20px;

  box-shadow: 10px 10px 8px #090919;
  border: #607db465 6px solid;
  border-radius: 20px;
}