.sumario{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sumario h2{

    display: flex;
    justify-content: center;
    margin: 5rem;
    font-size: 5rem;
    font-weight: 100;

}

.sumario img{

    width: 65%;
    margin-bottom: 10rem;
    
}

.reino-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.reino-card img{

    width: 35%;
    margin: 20px;

}

.card-abaixo{

    display: flex;
    justify-content: center;

}

h2{

    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: 3rem;

}

main p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  margin: 1.5rem 18rem;
  background-color: #6B707A;
  box-shadow: 4px 4px 10px #3b414b;
  border-radius: 20px;
  font-family: "Zain", sans-serif;
  font-size: 1.5rem;
  line-height: 110%;
}

main img{

  width: 18rem;
  box-shadow: 10px 10px 8px #090919;
  border: #51586565 6px solid;
  border-radius: 20px;
}

.sumario img{

  box-shadow: 10px 10px 8px #090919;
  border: #51586565 6px solid;
  border-radius: 20px;
}
