main{

    display: flex;
    justify-self: center;

    background-image: url("https://media.istockphoto.com/id/157030584/vector/thumb-up-emoticon.jpg?s=612x612&w=0&k=20&c=GGl4NM_6_BzvJxLSl7uCDF4Vlo_zHGZVmmqOBIewgKg=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    border-radius: 25px;

}

h2{

    display: flex;
    justify-content: center;
    margin: 5rem;
    font-size: 5rem;
    font-weight: 100;

}

.container{

    width: 50rem;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    position:relative;
    min-height: 24rem;
    overflow: hidden;

}

.container{

    display: flex;
    justify-content: center;
    align-items: center;

}

.container .container-botoes, .tela{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tela:not(:target){

    position: absolute;
    opacity: 0;
    z-index: -2;
    cursor: default;

}

#principal:target, #mapa:target, #ranking:target{

    opacity: 1;
    z-index: 3;
    transition: all 0.5s 0.5s ease;

}

.container-botoes h3{

    background: white;
    border-radius: 15px;
    padding: 1rem;

}


a{

    color:black;
    text-decoration: none;
    
}

.blur {

    position:absolute;
    width: 100%; height: 100%;
    top:0; left:0;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    /* background-position: center;
    background-size: cover; */

}

