body{

    background: #090919;
    color: white;

}

.banner{

    display: flex;
    justify-content: center;
    background: #090919;


}

.banner img{

    margin-top: 4rem;
    margin-bottom: 4rem;

}

.introducao video{

    display: flex;
    justify-self: center;

}

.introducao-plataforma ul li{

    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 30px;
    margin-left: 10px;

}

.introducao-plataforma ul{

    display: flex;
    justify-content: center;

}

.introducao{

    margin-bottom: 80px;

}

.resumo{

    display: flex;
    justify-content: space-around;

}

.resumo p{

    font-size: 2rem;

}

.resumo img{

    max-width: 75%;
    height: 30rem;
    display: block;

}

.personagens{

    display: flex;
    flex-direction: column;

}

.personagens .personagens-imagens{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 5rem;

}

.personagens-imagens .imagens-personagem{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.personagens img{

    max-width: 80%;
    height: 30rem;
    display: block;

}

.comentarios{

    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

}

.comentarios .comentarios-principal{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.comentarios .principal-card{

    background-color: antiquewhite;
    width: 20rem;
    height: 7rem;

}

