body{

    background: #090919;
    color: white;

}

.banner{

    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;

}

.introducao video{

    display: flex;
    justify-self: center;

}

.introducao-plataforma ul li{

    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 30px;
    margin-left: 10px;

}

.introducao-plataforma ul{

    display: flex;
    justify-content: center;

}

.introducao{

    margin-bottom: 80px;

}

.resumo{

    display: flex;
    justify-content: space-around;

}

.resumo img{

    width: 35rem;
    height: 45rem;

}

.personagens{

    display: flex;

}

.personagem .personagens-imgens{

    display: flex;
    justify-content: space-between;

}

.personagens img{

    width: 20rem;
    height: 30rem;

}
